.mySwiper2 {
    width: 100%;
    max-width: 1000px;
    height: 60px;
    margin: 0 auto;
    padding: 2rem 0;
    overflow: hidden;
    scroll-margin-top: 250px;
}

.mySwiper2 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    text-align: center;
}

.mySwiper2 h5 {
    font-size: 40px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    color: white;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Responsive */
@media screen and (max-width:1024px) {
    .mySwiper2 h5 {
        font-size: 24px;
        /* Mobilde biraz küçültelim */
    }
}